#bg1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  
}
#Home {
    width: 9vw;
    position: fixed;
    left: 3vw;
    top: 2vh;
}

#films{
    width: 30vw;
    position: fixed;
    left: 3vw;
    top: 15vh;
}
#games{
    width: 30vw;
    position: fixed;
    left: 67vw;
    top: 15vh;
}
#muziek{
    width: 30vw;
    position: fixed;
    left: 37vw;
    top: 15vh;
}
<<<<<<< HEAD
=======

header {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
}
>>>>>>> 0e8384d541a6e315888043de2d2f7aab4385c18d
