
.wrapper1 {
  max-width: 20%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px; 
  position: absolute;
}



  .wrapper2 {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.movie {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px;
    text-align: center;
    padding: 10%;
  

}

img {
    max-width: 100%;
    height: auto;
}

.main{
  padding-top: 40PX;
}
header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
}

#wrapper1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

#wrapper1 > *, #wrapper3 > *, img {
  height: inherit;
  width: inherit;
}

#wrapper2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#wrapper2 > * {
  width: 100%;
}

#wrapper3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#wrapper4 {
  display: flex;
  flex-direction: row;
  width: 20%;
}

#filler1, #filler2 {
  width: 40%;
}

.button1 {
  width: 100%;
}