/*CSS dat op alle pagina's terukomt*/

#wrapper1 {
    display: flex;
    width: 12%;
    justify-content: center;
}

#bg {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(2px);
}

#Home {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 290px;
    left: 600px;
}
#Entertainment{
    width: 300px;
    height: 300px;
    top: 100px;
    left: 300px;
    position: absolute;
}
#Info{
    width: 300px;
    height: 300px;
    top: 400px;
    left: 230px;
    position: absolute;
}
#Travel{
    width: 300px;
    height: 300px;
    top: 30px;
    left: 800px;
    position: absolute;
}
#Health{
    width: 300px;
    height: 300px;
    top: 30px;
    left: 1000px;
    position: absolute;
}
#Film{
    width: 300px;
    height: 300px;
    top: 300px;
    left: 1080px;
    position: absolute;
}