/*CSS dat op alle pagina's terukomt*/

body {
    overflow: hidden;
}

#bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    filter: blur(2px);
}

#Home {
    width: 40vw;
    position: fixed;
    left: 30vw;
    top: 25vh;
}
#Entertainment{
    width: 22vw;
    position: fixed;
    left: 10vw;
    top: 25vh;
}
#Info{
    width: 22vw;
    position: fixed;
    left: 15vw;
    top: 60vh;
}
#Travel{
    width: 22vw;
    position: fixed;
    left: 30vw;
    top: -2vh;
}
#Health{
    width: 22vw;
    position: fixed;
    left: 56vw;
    top: 6vh;
}
#Film{
    width: 22vw;
    position: fixed;
    left: 62vw;
    top: 61vh;
}

#Music{
    width: 22vw;
    position: fixed;
    left: 72vw;
    top: 31vh;
}