/*CSS dat op alle pagina's terukomt*/

body {
    overflow: hidden;
    user-select: none;
}

#bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    filter: blur(2px);
    z-index: -5;
}

header {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
}

#wrapper1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

#wrapper1 > *, #wrapper3 > *, img {
    height: inherit;
    width: inherit;
}

#wrapper2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#wrapper2 > * {
    width: 100%;
}

#wrapper3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#wrapper4 {
    display: flex;
    flex-direction: row;
    width: 20%;
}

#filler1, #filler2 {
    width: 40%;
}

.button1 {
    width: 100%;
}

body > * {
    user-select: none;
    -webkit-user-drag: none;
}